<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Exercises</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <style>
    body {
      background-image: url("static/yoga-unsplash.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</head>
<body>
  <main id="main">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center"
        style="background-image: url(https://uploads-ssl.webflow.com/5fcb2889e022836507a7f615/6011f7c33d335e3e3675a9b0_article-4-bg.jpeg);
        /* opacity: 0.7; */
        height: 400px;
        color: black;">
        <div class="container position-relative" style="opacity: 1;">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center"
              style="padding: 7px; border-radius: 20px; background-color: rgb(240, 236, 236);">
              <p style="color: black;">Here are a few yoga poses that will help you stay fit and healthy. You can exercise by following the instructions displayed on the screen. Make sure to do yoga every day in the morning.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Blog Section -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">
        <div class="row gy-4 posts-list" style="justify-content: center; margin-bottom: 10px;">
          <div class="col-xl-4 col-md-6">
            <article style="background-color: aliceblue; display: flex;">
              <div style="width: 45%;">
                <img src="static/imgs/gifs/bhujangasana.gif" alt="hello" class="img-fluid">
              </div>
              <div class="txt" style="width: 55%; padding-left: 20px;">
                <h2 class="Title">
                  <a href="#">Bhujangasana</a>
                </h2>
                <strong>Steps</strong>
                <p style="text-align: left;">
                  <ul>
                    <li>Lie on the stomach and strengthen your legs properly.</li>
                    <li>Place the arms just outside the chest. Place the elbows outward.</li>
                    <li>While breathing slowly raise the forehead first, the neck and shoulder.</li>
                    <li>Now, slowly move the neck towards your back, so that your posture resembles a cobra or a snake. Breathe through the nose and look upward. Place the weight on your back and keep your chest wider enough.</li>
                    <li>Hold for 20-25 seconds.</li>
                    <li>Now slowly return to the cobra pose. Remember to exhale properly then bring the chest, shoulder, navel, and forehead down.</li>
                    <li>Place the hands under the head and rest for 30 seconds.
                    </li>
                    <li>Repeat this bhujangasana at least 5 times!</li>
                  </ul>
                </p>
              </div>
            </article>
          </div>

          <div class="col-xl-4 col-md-6">
            <article style="background-color: aliceblue; display: flex;">
              <div style="width: 45%;">
                <img src="static/imgs/gifs/chakrasana.gif" alt="hello" class="img-fluid">
              </div>
              <div class="txt" style="width: 55%; padding-left: 20px;">
                <h2 class="title">
                  <a href="#">Chakrasana</a>
                </h2>
                <strong>Steps</strong>
                <p style="text-align: left;">
                  <ul>
                    <li>Lie down on your back with feet apart, bend your knees and place your feet on the ground close to your body.</li>
                    <li>Now bring your palms under your shoulders such that the fingers point towards the shoulders and the elbows are shoulder-width apart.</li>
                    <li>Inhale and press your palms firmly into the floor.</li>
                    <li>Lift your shoulders and elbow firmly into the floor.</li>
                    <li>Your feet should be pressed firmly into the floor.</li>
                    <li>Inhale and lift your hips up.</li>
                    <li>The spine should be rolled up so that it may seem to resemble a semi-circular arch or wheel.</li>
                    <li>Straighten out your arms and legs as much as possible so that the hips and chest may be pushed up.</li>
                    <li>Hold this pose for at least 15-30 seconds.</li>
                  </ul>
                </p>
              </div>
            </article>
          </div>

          <div class="col-xl-4 col-md-6">
            <article style="background-color: aliceblue; display: flex;">
              <div style="width: 45%;">
                <img src="static/imgs/gifs/Dhanurasana.gif" alt="hello" class="img-fluid">
              </div>
              <div class="txt" style="width: 55%; padding-left: 20px;">
                <h2 class="title">
                  <a href="#">Dhanurasana</a>
                </h2>
                <strong>Steps</strong>
                <p style="text-align: left;">
                  <ul>
                    <li>Lie flat on your stomach, with your arms placed beside your body and feet hip-width apart.</li>
                    <li>Now, gently fold your knees, and try to place your ankles on your buttocks.</li>
                    <li>Hold your ankles with your hands.</li>
                    <li>Try to lift your thighs and chest off the ground, as high as possible.</li>
                    <li>Now try to maintain this position for about 30-60 seconds.</li>
                    <li>To get out of the posture, leave your ankles and lay straight again.</li>
                    <li>Relax for some time. Repeat.</li>
                  </ul>
                </p>
              </div>
            </article>
          </div>



          <div class="col-xl-4 col-md-6">
            <article style="background-color: aliceblue; display: flex;">
              <div style="width: 45%;">
                <img src="static/imgs/gifs/nataranjasana.gif" alt="hello" class="img-fluid">
              </div>
              <div class="txt" style="width: 55%; padding-left: 20px;">
                <h2 class="title">
                  <a href="#">Nataranjasana</a>
                </h2>
                <strong>Steps</strong>
                <p style="text-align: left;">
                  <ul>
                    <li>First of all, one should stand erect.</li>
                    <li>Raise either the leg; bend it at the knee; and take it behind the back as high as possible. However, do as per your own capacity. Don't take more strain while raising the leg.</li>
                    <li>Now, raise both hands up, take them back and hold the toes of the raised foot with both hands above the head as high as possible.</li>
                    <li>Keep your head erect and look at the front.</li>
                    <li>Maintain the pose as long as you can.</li>
                    <li>Return to the original position.</li>
                    <li>The same thing is done with the other leg.</li>
                    <li>It completes one round.</li>ble so that the hips and chest may be pushed up.</li>
                    <li>Hold this pose for at least 15-30 seconds.</li>
                  </ul>
                </p>
              </div>
            </article>
          </div>


          <div class="col-xl-4 col-md-6">
            <article style="background-color: aliceblue; display: flex;">
              <div style="width: 45%;">
                <img src="static/imgs/gifs/Sarvangasana.gif" alt="hello" class="img-fluid">
              </div>
              <div class="txt" style="width: 55%; padding-left: 20px;">
                <h2 class="title">
                  <a href="#">sarvangasana</a>
                </h2>
                <strong>Steps</strong>
                <p style="text-align: left;">
                  <ul>
                    <li>First of all, one should stand erect.</li>
                    <li>Raise either the leg; bend it at the knee; and take it behind the back as high as possible. However, do as per your own capacity. Don't take more strain while raising the leg.</li>
                    <li>Now, raise both hands up, take them back and hold the toes of the raised foot with both hands above the head as high as possible.</li>
                    <li>Keep your head erect and look at the front.</li>
                    <li>Maintain the pose as long as you can.</li>
                    <li>Return to the original position.</li>
                    <li>The same thing is done with the other leg.</li>
                    <li>It completes one round.</li>
                  </ul>
                </p>
              </div>
            </article>
          </div>

          <div class="col-xl-4 col-md-6">
            <article style="background-color: aliceblue; display: flex;">
              <div style="width: 45%;">
                <img src="static/imgs/gifs/shalabhasana.gif" alt="hello" class="img-fluid">
              </div>
              <div class="txt" style="width: 55%; padding-left: 20px;">
                <h2 class="title">
                  <a href="#">Shalabhasana</a>
                </h2>
                <strong>Steps</strong>
                <p style="text-align: left;">
                  <ul>
                    <li>Lie down on your back with feet apart, bend your knees and place your feet on the ground close to your body.</li>
                    <li>Now bring your palms under your shoulders such that the fingers point towards the shoulders and the elbows are shoulder-width apart.</li>
                    <li>Inhale and press your palms firmly into the floor.</li>
                    <li>Lift your shoulders and elbow firmly into the floor</li>
                    <li>Your Feet should be pressed firmly into the floor.</li>
                    <li>Inhale and lift your hips up.</li>
                    <li>The spine should be rolled up so that it may seem to resemble a semi-circular arch or wheel.</li>
                    <li>Straighten out your arms and legs as much as possible so that the hips and chest may be pushed up.</li>
                    <li>Hold this pose for at least 15-30 seconds.</li>
                  </ul>
                </p>
              </div>
            </article>
          </div>

          <div class="col-xl-4 col-md-6">
            <article style="background-color: aliceblue; display: flex;">
              <div style="width: 45%;">
                <img src="static/imgs/gifs/suptaVarjasana.gif" alt="hello" class="img-fluid">
              </div>
              <div class="txt" style="width: 55%; padding-left: 20px;">
                <h2 class="title">
                  <a href="#">SuptaVarjasana</a>
                </h2>
                <strong>Steps</strong>
                <p style="text-align: left;">
                  <ul>
                    <li>Lie down on your back with feet apart, bend your knees and place your feet on the ground close to your body.</li>
                    <li>Now bring your palms under your shoulders such that the fingers point towards the shoulders and the elbows are shoulder-width apart.</li>
                    <li>Inhale and press your palms firmly into the floor.</li>
                    <li>Lift your shoulders and elbow firmly into the floor</li>
                    <li>Your Feet should be pressed firmly into the floor.</li>
                    <li>Inhale and lift your hips up.</li>
                    <li>The spine should be rolled up so that it may seem to resemble a semi-circular arch or wheel.</li>
                    <li>Straighten out your arms and legs as much as possible so that the hips and chest may be pushed up.</li>
                    <li>Hold this pose for at least 15-30 seconds.</li>
                  </ul>
                </p>
              </div>
            </article>
          </div>


        </div>
      </div>
    </section>
    <!-- End Blog Section -->

    <!-- Scroll to Top Button -->
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Scripts -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/js/qng.js"></script>
  </body>
</html>
